@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47.4% 11.2%;
    --primary: 243 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 68% 95.9%;
    --secondary-foreground: 160 84.1% 39.4%;
    --muted: 226 100% 96.7%;
    --muted-foreground: 215 16.3% 46.9%;
    --accent: 226 100% 96.7%;
    --accent-foreground: 243 75.4% 58.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 31.8% 91.4%;
    --input: 214 31.8% 91.4%;
    --ring: 243 75.4% 58.6%;
    --radius: 0.75rem;
    --sidebar: 0 0% 100%;
    --sidebar-border: 214 31.8% 91.4%;
  }
  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 243 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 84.1% 39.4%;
    --secondary-foreground: 152 68% 95.9%;
    --muted: 215 25% 20%;
    --muted-foreground: 215 16.3% 70%;
    --accent: 215 25% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 25% 20%;
    --input: 215 25% 20%;
    --ring: 243 75.4% 58.6%;
    --sidebar: 222 47.4% 8%;
    --sidebar-border: 215 25% 20%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-family: "Inter", system-ui, sans-serif;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-700 rounded-full;
}
